In [19]:
# import libraries
import pandas as pd
import re
from datetime import datetime
from pathlib import Path

# load data
profiles = pd.read_csv('../csv/19.01.2026/profiles.csv')
predictions = pd.read_csv('../csv/10.02.2026/predictions_rows.csv')
fixtures = pd.read_csv('../csv/10.02.2026/fixtures_rows(1).csv')

# Merge predictions with profiles on user_id
merged = predictions.merge(profiles, left_on='user_id', right_on='id', how='left', suffixes=('_pred', '_profile'))

# Merge with fixtures on fixture_id
merged = merged.merge(fixtures, left_on='fixture_id', right_on='id', how='left', suffixes=('', '_fixture'))
df_shape = merged[["username", "club", "home_team", "away_team", "home_prediction", "away_prediction", "home_score", "away_score", "game_week_id"]]

# remove inactive players
df_players = df_shape.drop(df_shape[df_shape["username"] == "Martinez"].index)

# remove non premier league weeks
df_game_weeks = df_players.drop(df_players[df_players["game_week_id"].isin(["7d6130ac-980a-4352-8ec0-29a06643525e", "ef99d1e9-75a3-4c2a-9ab3-48604f86b4fa"])].index)

# convert all numbers to integers
cols_to_convert = ["home_score", "away_score", "home_prediction", "away_prediction"]

df_game_weeks[cols_to_convert] = df_game_weeks[cols_to_convert].astype(int)

df_final = df_game_weeks

# check the final dataframe
print (df_final.shape)
print (df_final.head())
print (df_final.dtypes)

(7480, 9)
       username               club        home_team          away_team  \
0   ðŸºThe Barman  Tottenham Hotspur  AFC Bournemouth            Arsenal
1     Stephen O            Arsenal     Leeds United  Tottenham Hotspur
2   Jim Shirley           West Ham          Everton          Brentford
3  Steve arnold              Spurs         West Ham            Chelsea
4    Mjd-âš’ï¸âš’ï¸âš’ï¸   West Ham  united          Burnley            Arsenal

   home_prediction  away_prediction  home_score  away_score  \
0                0                2           2           3
1                1                2           1           2
2                1                1           2           4
3                1                3           1           5
4                0                2           0           2

                           game_week_id
0  b8e9c830-4504-4e15-9aba-2cf1e3b2de9d
1  d77ab4fc-0b5e-46dc-8403-2c02eb802dd6
2  b8e9c830-4504-4e15-9aba-2cf1e3b2de9d
3  28c25bca-56fb-487b-b335-f02e00863c6b
4  28da2862-f00a-44dd-8ab5-a48849d53245
username           object
club               object
home_team          object
away_team          object
home_prediction     int64
away_prediction     int64
home_score          int64
away_score          int64
game_week_id       object
dtype: object

In [20]:
# clean up team names

team_fixes = {
    # Brighton
    "Brighton": "Brighton & Hove Albion",
    "Brighton and Hove Albion": "Brighton & Hove Albion",

    # Bournemouth
    "Bournemouth": "AFC Bournemouth",

    # Wolves
    "Wolves": "Wolverhampton Wanderers",

    # Man United
    "Man Utd": "Manchester United",
    "Man U": "Manchester United",
    "Manchester Utd": "Manchester United",
    "Manchester United ": "Manchester United",

    # Man City
    "Man City": "Manchester City",

    # Aston Villa
    "Aston Villa ": "Aston Villa",

    # West Ham
    "West Ham": "West Ham United",
    " West Ham": "West Ham United",

    # Crystal Palace
    " Crystal Palace": "Crystal Palace",

    # Brentford
    " Brentford": "Brentford",

    # Leeds
    "Leeds": "Leeds United",
    " Leeds": "Leeds United",

    # Newcastle
    "Newcastle": "Newcastle United",

    # Nottingham Forest
    "Nottm Forest": "Nottingham Forest",

    # Tottenham
    "Tottenham": "Tottenham Hotspur",
    " Tottenham Hotspur": "Tottenham Hotspur",

    # Chelsea
    " Chelsea": "Chelsea"
}

# apply fixes
df_final["home_team"] = df_final["home_team"].replace(team_fixes)
df_final["away_team"] = df_final["away_team"].replace(team_fixes)

# show unique values
print("Home")
print(df_final["home_team"].nunique())
print(sorted(df_final["home_team"].unique()))

print("\nAway")
print(df_final["away_team"].nunique())
print(sorted(df_final["away_team"].unique()))

Home
20
['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Brentford', 'Brighton & Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds United', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sunderland', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers']

Away
20
['AFC Bournemouth', 'Arsenal', 'Aston Villa', 'Brentford', 'Brighton & Hove Albion', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds United', 'Liverpool', 'Manchester City', 'Manchester United', 'Newcastle United', 'Nottingham Forest', 'Sunderland', 'Tottenham Hotspur', 'West Ham United', 'Wolverhampton Wanderers']

In [21]:
print(df_final.head())
print("home team counts")
print(df_final["home_team"].value_counts())
print("away team counts")
print(df_final["away_team"].value_counts())
print("game week counts")
print(df_final["game_week_id"].value_counts())
print(df_final["game_week_id"].nunique())

       username               club        home_team          away_team  \
0   ðŸºThe Barman  Tottenham Hotspur  AFC Bournemouth            Arsenal
1     Stephen O            Arsenal     Leeds United  Tottenham Hotspur
2   Jim Shirley           West Ham          Everton          Brentford
3  Steve arnold              Spurs  West Ham United            Chelsea
4    Mjd-âš’ï¸âš’ï¸âš’ï¸   West Ham  united          Burnley            Arsenal

   home_prediction  away_prediction  home_score  away_score  \
0                0                2           2           3
1                1                2           1           2
2                1                1           2           4
3                1                3           1           5
4                0                2           0           2

                           game_week_id
0  b8e9c830-4504-4e15-9aba-2cf1e3b2de9d
1  d77ab4fc-0b5e-46dc-8403-2c02eb802dd6
2  b8e9c830-4504-4e15-9aba-2cf1e3b2de9d
3  28c25bca-56fb-487b-b335-f02e00863c6b
4  28da2862-f00a-44dd-8ab5-a48849d53245
home team counts
home_team
Aston Villa                408
Brighton & Hove Albion     408
Tottenham Hotspur          408
Wolverhampton Wanderers    408
Leeds United               408
Liverpool                  374
Fulham                     374
Manchester City            374
Nottingham Forest          374
Sunderland                 374
Manchester United          374
AFC Bournemouth            374
Chelsea                    374
Everton                    374
Newcastle United           374
Crystal Palace             340
Brentford                  340
Arsenal                    340
Burnley                    340
West Ham United            340
Name: count, dtype: int64
away team counts
away_team
Arsenal                    408
Brentford                  408
Burnley                    408
West Ham United            408
Crystal Palace             408
Nottingham Forest          374
Fulham                     374
Everton                    374
Manchester United          374
Newcastle United           374
Manchester City            374
Sunderland                 374
Liverpool                  374
AFC Bournemouth            374
Chelsea                    374
Tottenham Hotspur          340
Wolverhampton Wanderers    340
Brighton & Hove Albion     340
Aston Villa                340
Leeds United               340
Name: count, dtype: int64
game week counts
game_week_id
b8e9c830-4504-4e15-9aba-2cf1e3b2de9d    340
d77ab4fc-0b5e-46dc-8403-2c02eb802dd6    340
37bc4415-6386-4c1c-9a8b-453802fa72e1    340
6321df99-8fc5-4465-a345-4e85e454e8cc    340
634bef0a-8a4f-4bb4-a7cc-79a5ec61e5cb    340
00c76044-16a0-4acf-a0a5-8de00e9cbc06    340
3fbb2bf0-cef3-48b2-9d04-ecba8bd4165b    340
b0768a69-dec7-4af7-b170-19230fdc82ab    340
7577e1cd-1ba9-4266-acbc-d2d0027002a7    340
3d3498a4-2cb9-46cc-a1c2-2cb731ca4d02    340
435af285-efb9-47f0-a3b5-aa47b7b78b56    340
d7a991ce-94f4-44a6-9e3a-bda9babd7e11    340
d8d2e264-f062-4c84-bc77-cf67da4c3bf5    340
284571ab-f355-476f-841c-8d84cf3fc188    340
39344544-7804-4c1d-a17b-a1aff7a7f869    340
3715512f-bc25-48aa-a319-f9b2ffc2fb15    340
7f04d06c-ca42-403e-8bc7-194f0a0c631a    340
7be0759a-59c6-4da1-be13-e876a9051907    340
e1083685-268d-4376-bbc8-14fe74194d46    340
28da2862-f00a-44dd-8ab5-a48849d53245    340
28c25bca-56fb-487b-b335-f02e00863c6b    340
976d2b52-ae86-4db2-a398-bb57fbbaeb87    340
Name: count, dtype: int64
22

In [22]:
# Create predicted league table for The Barman
player_name = 'ðŸºThe Barman'
player_data = df_final[df_final['username'] == player_name].copy()

# Get all unique teams
all_teams = pd.concat([player_data['home_team'], player_data['away_team']]).unique()
print(f"Found {len(all_teams)} teams")

# Initialize league table dictionary
league_table = []

for team in all_teams:
    # Get all matches for this team
    home_matches = player_data[player_data['home_team'] == team]
    away_matches = player_data[player_data['away_team'] == team]
    
    # Calculate stats
    wins = 0
    draws = 0
    losses = 0
    goals_for = 0
    goals_against = 0
    
    # Home matches
    for _, match in home_matches.iterrows():
        home_goals = match['home_prediction']
        away_goals = match['away_prediction']
        goals_for += home_goals
        goals_against += away_goals
        
        if home_goals > away_goals:
            wins += 1
        elif home_goals == away_goals:
            draws += 1
        else:
            losses += 1
    
    # Away matches
    for _, match in away_matches.iterrows():
        home_goals = match['home_prediction']
        away_goals = match['away_prediction']
        goals_for += away_goals
        goals_against += home_goals
        
        if away_goals > home_goals:
            wins += 1
        elif away_goals == home_goals:
            draws += 1
        else:
            losses += 1
    
    # Calculate points and goal difference
    points = (wins * 3) + (draws * 1)
    goal_diff = goals_for - goals_against
    
    league_table.append({
        'Team': team,
        'Wins': wins,
        'Draws': draws,
        'Losses': losses,
        'Goals For': goals_for,
        'Goals Against': goals_against,
        'Goal Difference': goal_diff,
        'Points': points
    })

# Create DataFrame and sort
league_df = pd.DataFrame(league_table)
league_df = league_df.sort_values(
    by=['Points', 'Goal Difference', 'Goals For', 'Team'],
    ascending=[False, False, False, True]
).reset_index(drop=True)

# Add position index (1-20)
league_df.index = range(1, len(league_df) + 1)

# Get player's favorite club
fav_club = player_data['club'].iloc[0] if len(player_data) > 0 else ''

print(f"\n{player_name} - {fav_club}")
print("="*80)
print(league_df.to_string())

Found 20 teams

ðŸºThe Barman - Tottenham Hotspur
================================================================================
                       Team  Wins  Draws  Losses  Goals For  Goals Against  Goal Difference  Points
1           Manchester City    20      1       1         55             15               40      61
2                   Arsenal    17      5       0         48             14               34      56
3                 Liverpool    16      5       1         51             22               29      53
4                   Chelsea    16      3       3         41             20               21      51
5         Tottenham Hotspur    13      5       4         40             27               13      44
6          Newcastle United    12      6       4         37             25               12      42
7    Brighton & Hove Albion    10      7       5         34             28                6      37
8         Manchester United     9      6       7         33             28                5      33
9               Aston Villa     9      6       7         30             26                4      33
10           Crystal Palace     6      7       9         22             31               -9      25
11                  Everton     5      9       8         23             28               -5      24
12          AFC Bournemouth     6      6      10         25             33               -8      24
13                   Fulham     6      6      10         20             30              -10      24
14               Sunderland     5      6      11         18             36              -18      21
15          West Ham United     4      7      11         26             36              -10      19
16                Brentford     3      7      12         21             33              -12      16
17        Nottingham Forest     3      3      16         14             38              -24      12
18             Leeds United     1      7      14         19             38              -19      10
19  Wolverhampton Wanderers     2      4      16         14             38              -24      10
20                  Burnley     2      4      16         14             39              -25      10

## Create Predicted League Tables for All Players

In [23]:
def create_predicted_league_table(player_name, df_final):
    """Create a predicted league table for a specific player based on their predictions"""
    player_data = df_final[df_final['username'] == player_name].copy()
    
    if len(player_data) == 0:
        print(f"No data found for {player_name}")
        return None
    
    # Get all unique teams
    all_teams = pd.concat([player_data['home_team'], player_data['away_team']]).unique()
    
    # Initialize league table dictionary
    league_table = []
    
    for team in all_teams:
        # Get all matches for this team
        home_matches = player_data[player_data['home_team'] == team]
        away_matches = player_data[player_data['away_team'] == team]
        
        # Calculate stats
        wins = 0
        draws = 0
        losses = 0
        goals_for = 0
        goals_against = 0
        
        # Home matches
        for _, match in home_matches.iterrows():
            home_goals = match['home_prediction']
            away_goals = match['away_prediction']
            goals_for += home_goals
            goals_against += away_goals
            
            if home_goals > away_goals:
                wins += 1
            elif home_goals == away_goals:
                draws += 1
            else:
                losses += 1
        
        # Away matches
        for _, match in away_matches.iterrows():
            home_goals = match['home_prediction']
            away_goals = match['away_prediction']
            goals_for += away_goals
            goals_against += home_goals
            
            if away_goals > home_goals:
                wins += 1
            elif away_goals == home_goals:
                draws += 1
            else:
                losses += 1
        
        # Calculate points and goal difference
        points = (wins * 3) + (draws * 1)
        goal_diff = goals_for - goals_against
        
        league_table.append({
            'Team': team,
            'Wins': wins,
            'Draws': draws,
            'Losses': losses,
            'Goals For': goals_for,
            'Goals Against': goals_against,
            'Goal Difference': goal_diff,
            'Points': points
        })
    
    # Create DataFrame and sort
    league_df = pd.DataFrame(league_table)
    league_df = league_df.sort_values(
        by=['Points', 'Goal Difference', 'Goals For', 'Team'],
        ascending=[False, False, False, True]
    ).reset_index(drop=True)
    
    # Add position index (1-20)
    league_df.index = range(1, len(league_df) + 1)
    
    return league_df

# Test with The Barman
player_name = 'ðŸºThe Barman'
player_data = df_final[df_final['username'] == player_name]
fav_club = player_data['club'].iloc[0] if len(player_data) > 0 else ''

table = create_predicted_league_table(player_name, df_final)

print(f"\n{player_name} - {fav_club}")
print("="*100)
print(table.to_string())
print(f"\nTotal predictions used: {len(player_data)}")

ðŸºThe Barman - Tottenham Hotspur
====================================================================================================
                       Team  Wins  Draws  Losses  Goals For  Goals Against  Goal Difference  Points
1           Manchester City    20      1       1         55             15               40      61
2                   Arsenal    17      5       0         48             14               34      56
3                 Liverpool    16      5       1         51             22               29      53
4                   Chelsea    16      3       3         41             20               21      51
5         Tottenham Hotspur    13      5       4         40             27               13      44
6          Newcastle United    12      6       4         37             25               12      42
7    Brighton & Hove Albion    10      7       5         34             28                6      37
8         Manchester United     9      6       7         33             28                5      33
9               Aston Villa     9      6       7         30             26                4      33
10           Crystal Palace     6      7       9         22             31               -9      25
11                  Everton     5      9       8         23             28               -5      24
12          AFC Bournemouth     6      6      10         25             33               -8      24
13                   Fulham     6      6      10         20             30              -10      24
14               Sunderland     5      6      11         18             36              -18      21
15          West Ham United     4      7      11         26             36              -10      19
16                Brentford     3      7      12         21             33              -12      16
17        Nottingham Forest     3      3      16         14             38              -24      12
18             Leeds United     1      7      14         19             38              -19      10
19  Wolverhampton Wanderers     2      4      16         14             38              -24      10
20                  Burnley     2      4      16         14             39              -25      10

Total predictions used: 220

In [24]:
# Generate tables for all players
try:
    import dataframe_image as dfi
except ImportError as exc:
    raise ImportError("Missing package: dataframe_image. Install with pip install dataframe_image") from exc

def sanitize_filename_component(value):
    text = '' if pd.isna(value) else str(value)
    text = text.strip().replace(' ', '_')
    text = text.encode('ascii', 'ignore').decode('ascii')
    text = re.sub(r'[^A-Za-z0-9_-]+', '', text)
    return text

date_stamp = datetime.now().strftime('%d%m%y')
output_dir = Path('..') / 'Output' / f'players_tables_{date_stamp}'
output_dir.mkdir(parents=True, exist_ok=True)

all_players = df_final['username'].unique()
print(f"Generating predicted league tables for {len(all_players)} players...\n")

for player in sorted(all_players):
    # Get player's favorite club
    player_data = df_final[df_final['username'] == player]
    fav_club = player_data['club'].iloc[0] if len(player_data) > 0 else ''
    
    # Create table
    table = create_predicted_league_table(player, df_final)
    
    if table is not None:
        print(f"\n{'='*100}")
        print(f"{player} - {fav_club}")
        print('='*100)
        
        # Style the table
        styled_table = table.style.set_table_styles([
            {'selector': 'th', 'props': [('background-color', '#4472C4'), ('color', 'white'), 
                                         ('border', '1px solid black'), ('font-weight', 'bold'), 
                                         ('text-align', 'center')]},
            {'selector': 'td', 'props': [('border', '1px solid black'), ('padding', '8px'), 
                                         ('text-align', 'center'), ('color', '#000000')]},
            {'selector': 'tr:nth-child(even)', 'props': [('background-color', '#F2F2F2')]},
            {'selector': 'tr:nth-child(odd)', 'props': [('background-color', '#FFFFFF')]},
            {'selector': 'tr:first-child', 'props': [('background-color', '#90EE90')]},
        ])
        
        safe_player = sanitize_filename_component(player) or 'UnknownPlayer'
        safe_club = sanitize_filename_component(fav_club) or 'UnknownClub'
        output_path = output_dir / f'{safe_player}_{safe_club}.png'
        dfi.export(styled_table, output_path, table_conversion='matplotlib')
        
        display(styled_table)
        print(f"\nPredictions used: {len(player_data)} matches")
        print(f"Saved PNG: {output_path}")
        print("\n")

print(f"\nAll {len(all_players)} tables generated!")

Generating predicted league tables for 34 players...

====================================================================================================
Alan Taylor-Reed - Liverpool
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Alan_Taylor-Reed_Liverpool.png



====================================================================================================
Andy Page - Ipswich
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Andy_Page_Ipswich.png



====================================================================================================
Bob sullivan  - Chelsea
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Bob_sullivan_Chelsea.png



====================================================================================================
Bryan - Manchester United
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Bryan_Manchester_United.png



====================================================================================================
CFC Stew - Chelsea
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\CFC_Stew_Chelsea.png



====================================================================================================
Chris Torode - Chelsea
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Chris_Torode_Chelsea.png



====================================================================================================
Des McCarthy - Leicester City
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Des_McCarthy_Leicester_City.png



====================================================================================================
Gerard  - Orient
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Gerard_Orient.png



====================================================================================================
Graham Dongworth - Leyton Orient
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Graham_Dongworth_Leyton_Orient.png



====================================================================================================
Jack Massie - West Ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Jack_Massie_West_Ham.png



====================================================================================================
Jim Shirley - West Ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Jim_Shirley_West_Ham.png



====================================================================================================
KAV - Man Utd
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\KAV_Man_Utd.png



====================================================================================================
Lenny Wright  - Manchester united
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Lenny_Wright_Manchester_united.png



====================================================================================================
MG - Arsenal
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\MG_Arsenal.png



====================================================================================================
Martin H - Spurs
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Martin_H_Spurs.png



====================================================================================================
Matt Lavery - Spurs
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Matt_Lavery_Spurs.png



====================================================================================================
MattyCdogg  - Arsenal
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\MattyCdogg_Arsenal.png



====================================================================================================
Mel - Tottenham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Mel_Tottenham.png



====================================================================================================
Mjd-âš’ï¸âš’ï¸âš’ï¸ - West Ham  united
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Mjd-_West_Ham__united.png



====================================================================================================
Nick Arnold  - Spurs
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Nick_Arnold_Spurs.png



====================================================================================================
Parish  - West Ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Parish_West_Ham.png



====================================================================================================
Phil Huffer  - Crystal Palace
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Phil_Huffer_Crystal_Palace.png



====================================================================================================
Rod McGeady - Chelsea
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Rod_McGeady_Chelsea.png



====================================================================================================
Roger Rouse - Chelsea F.C.
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Roger_Rouse_Chelsea_FC.png



====================================================================================================
RogerStanton - Arsenal
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\RogerStanton_Arsenal.png



====================================================================================================
Si B - West Ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Si_B_West_Ham.png



====================================================================================================
Sid Elliott - Spurs
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Sid_Elliott_Spurs.png



====================================================================================================
Stephen O - Arsenal
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Stephen_O_Arsenal.png



====================================================================================================
Steve arnold - Spurs
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Steve_arnold_Spurs.png



====================================================================================================
SteveJos - Tottenham Hotspur
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\SteveJos_Tottenham_Hotspur.png



====================================================================================================
Stretch - West Ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\Stretch_West_Ham.png



====================================================================================================
The General - Arsenal
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\The_General_Arsenal.png



====================================================================================================
big k  - west ham
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\big_k_west_ham.png



====================================================================================================
ðŸºThe Barman - Tottenham Hotspur
====================================================================================================

Predictions used: 220 matches
Saved PNG: ..\Output\players_tables_140226\The_Barman_Tottenham_Hotspur.png



All 34 tables generated!